%h1= @recipe.title
%p= @recipe.description

= link_to "BACK", root_path, class: "btn btn-default"
= link_to "EDIT", edit_recipe_path, class: "btn btn-warning"
= link_to "DELETE", recipe_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger"
