

<!DOCTYPE html>
<html>
<head>
  <title>Recipe-Box</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag  '//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/spacelab/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  '//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="/"><span class="glyphicon glyphicon-home"></span> Recipe-Box</a>
        </li>
      </ul>
			 <% if user_signed_in? %>
	      <ul class="nav navbar-nav navbar-right">
	        <li class="navbar-right">
	          <a href="/recipes/new"> Create Recipe</a>
	        </li>
          <li class="navbar-right">
	          <a href="/users/sign_out"> Sign-Out</a>
	        </li>
        <% else %>
	        <li class="navbar-right">
	          <a href="/users/sign_up">Sign-Up</a>
	        </li>
          <li class="navbar-right">
	          <a href="/users/sign_in">Log-In</a>
	        </li>
	      </ul>
				<% end %>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |name, msg| %>
      <%= render content_tag :div, msg, class: "alert" %>
    <% end %>
  </div>


<%= yield %>

</body>
</html>
